<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userinterface">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SafeCampus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserInterface">

        <!-- LOGIN (LAUNCHER) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN MENU -->
        <activity android:name=".MainActivity" />

        <!-- REPORT INCIDENT -->
        <activity android:name=".ReportIncidentActivity" />

        <!-- RECENT INCIDENTS -->
        <activity android:name=".RecentIncidentsActivity" />

        <activity android:name=".AboutActivity" />

        <!-- SIGN UP -->
        <activity android:name=".SignUpActivity" />

    </application>

</manifest>